@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif; /* Apply the font to the body */
}

h1 {
  font-weight: 700; /* Bold weight for heading */
}

p {
  font-weight: 400; /* Regular weight for paragraph */
}
.header-container {
 z-index: 100;
  width: 100%;
  
}

@media (min-width: 768px) {
 
  .header-container {
    padding:0 50px;
    position: fixed;
    top: 0;
    left: 50%; /* Center the header horizontally */
    transform: translateX(-50%); /* Center the header horizontally */
    width: 100%; /* Equivalent to w-2/3 */
  }
}